<section class="blog" id="blog">
    <div class="container">
        <div class="row center-xs">
            <div class="col-xs-6"><h1>Our Team</h1></div>
        </div>
        <div class="row">
            <div class="col-xs-12 center-xs">
                <div class="col-xs-4" style="float: left;">
                    <a href="https://www.linkedin.com/in/harikrishnaganji/"> <img src="/images/hari.png"
                                                                                  alt="Hari Krishna Ganji"/> </a>
                </div>
                <div class="col-xs-4" style="float: left;">
                    <a href="https://www.linkedin.com/in/goutham-atreya/"> <img src="/images/goutham.png"
                                                                                alt="Goutham Atreya"/> </a>
                </div>
                <div class="col-xs-4" style="float: left;">
                    <a href="https://www.linkedin.com/in/navya-ganduri/"> <img src="/images/navya.png"
                                                                               alt="Navya Ganduri"/> </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 center-xs">
                    <div class="col-xs-4" style="float: left;">
                        <p><span style="font-size: x-large ">Hari Krishna Ganji </span>
                            Founder, Chief Consultant </p>

                        <p style="font-size: medium">
                            Software Engineer and a geek by nature. When not hacking computer programs, I try some
                            photography and trek local landscapes. I love science, food and anime. </p>
                    </div>
                    <div class="col-xs-4" style="float: left;">
                        <p><span style="font-size: x-large ">Goutham Atreya</span>
                            Senior Consultant <br/><br/></p>

                        <p style="font-size: medium">
                            Believes in automating what can be, and utilize the time to make the world a better
                            place. </p>
                    </div>
                    <div class="col-xs-4" style="float: left;">
                        <p><span style="font-size: x-large ">Navya Ganduri</span>
                            Junior Consultant <br/><br/></p>

                        <p style="font-size: medium">
                            Product Manager, UI/UX Engineer with a passion for Growth Hacking. </p>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row center-xs">-->
        <!--<div class="col-xs-12"><h3><a href="{{ .Site.BaseURL }}/blog/">View All</a></h3></div>-->
        <!--</div>-->
    </div>
</section>
