{{ partial "header.html" . }}

    <section class="container">
        <section class="content">
            <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

            {{if .Params.imageUrl}}
                <div class="row col-xs-12">
                    <div class="row">
                        <img src="{{.Params.imageUrl}}" height="75" width="75" style="border-radius: 50%;"/>
                        <p class="post-title">
                            <strong>{{.Params.author}}</strong><br/>
                            {{ .Date.Format (.Site.Params.dateform | default "January 2006") }},{{ .ReadingTime }} minute read
                        </p>
                    </div>
                </div>
                <br/>
            {{end}}

            <article class="entry-content">
                {{ .Content }}
            </article>

            <!-- <div class="pagination">
                {{ if .PrevInSection }}
                    <a href="{{ .PrevInSection.Permalink }}">&laquo; {{ .PrevInSection.Title }}</a>
                {{ end }}
                {{ if .NextInSection }}
                    <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &raquo;</a>
                {{ end }}
            </div> -->
        </section>
        <br>
        {{ partial "disqus" . }}
    </section>

{{ partial "footer.html" . }}
